<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktails App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="container">
        <h1>Here is a random cocktail for you 🍸</h1>
        <% if (locals.name) { %>
            <h2><%= name %></h2>
            <img src=<%= picture %> alt="Cocktail picture">
            <h3>Ingredients</h3>
            <ul>
                <% ingredients.forEach(function(item) { %>
                    <li><%= item.measure %> of <%= item.ingredient %>.</li>
                <% }); %>
            </ul>
            <h3>Instructions</h3>
            <p> <%= instructions %></p>
            <p> <strong>Our recommendation</strong> - drink this cocktail in a <%= glass %>.</p>
        <% } else { %>
            <p>No data</p>
        <% } %>
    </div>
</body>
</html>